<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>无标题文档</title>
<style>
*{
	margin:0;
	padding:0;
}	
.div1{
	margin:0 auto;
	width:1080px;
	height:1920px;
	background:url(images/leader.jpg);
}
#blank{height:40%;}
#bottom img{margin-bottom:25%;
margin-top:15%;}
#time{bottom:0;}
.STYLE1 {
	font-family: "华文琥珀";
	font-size: 24px;
	color: #FFFFFF;
	absolut:bottom;
	
}
.STYLE2 {
	font-family: "华文琥珀";
	font-size: 72px;
	color: #FFFFFF;
}
#blank2{height:30%;
margin-top:30%;}
</style>
</head>

<body>
<div class="div1">
	<div id="top">
	  <div align="right"><a href="leader.html"><img src="images/backUI.png"></a><a href="#"><img src="images/goUI.png"></a><a href="main.html"><img src="images/mainUI.png"></a></div>
  </div>
	<div id="blank"></div>
    <div id="bottom">
      <div align="center" class="STYLE2">-年-月-日~-年-月-日</div>
    </div>
    <div></div>
    <div id="blank2">
      <div align="center"><a href="#"><img src="images/查询.png"></a></div>
    </div>
    <div id="time">
      <div align="right" class="STYLE1">2018年3月24日 15：55</div>
    </div>
</div>
</body>
</html>
