<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>审阅报表</title>
	<style type="text/css">
		*{margin:0;padding:0;background-repeat: no-repeat; background-attachment:fixed; background-size: cover; -webkit-background-size: cover;color:#FFF;}
		.main{width:1080px;height:1920px;border:1px solid #000;background:url(images/t_bg.jpg)}
		#RadioGroup1_1{margin-left:30%;}
		.welcome{position:absolute;margin-top:25%;margin-left:5%}
		.table{positon:relative;margin-left:5%;margin-top:45%;}
		.update{position:absolute;margin-top:5%;;margin-left:25%;}
	</style>

<body>
<div class="main">
	<div class="welcome">
	  <h2>欢迎您 维修技师：刘XX<br/ >完成车辆WJ6654报表审阅后点击提交</h2></div>
	<div class="table">
		<table width="100%" height="auto" border="0">
		  <tr>
			<td colspan="4" align="center"><h1>车辆检查保养(日保养)</h1></td>
			<td>2018,3,23</td>
		  </tr>
		  <tr>
			<td width="10%" height="10">序号</td>
			<td width="30%" height="10">检查项目</td>
			<td width="20%" height="10" align="center">检查结果</td>
			<td height="10">备注</td>
			<td height="10">备注(维修技师)</td>
		  </tr>
		  <tr>
			<td width="10%" height="10">1</td>
			<td width="30%" height="10">行车记录仪</td>
			<td width="20%" height="10">
			  <form id="form1" name="form1" method="post" action="">
				<label>
				  <input name="RadioGroup1" type="radio" id="RadioGroup1_0" checked="checked" />正常
				</label>
				<label>
				  <input type="radio" name="RadioGroup1" id="RadioGroup1_1" /> 异常
				</label>
			  </form>
			</td>
			<td height="10"><input name="put" type="text"></td>
			<td height="10"><input name="fixed" type="text" size="10%" /></td>
			
		  </tr>
		  <tr>
			<td width="10%" height="10">2</td>
			<td width="30%" height="10">发动机</td>
			<td width="20%" height="10">
			  <form id="form1" name="form1" method="post" action="">
				<label>
				  <input name="RadioGroup1" type="radio" id="RadioGroup1_0" checked="checked" />正常
				</label>
				<label>
				  <input type="radio" name="RadioGroup1" id="RadioGroup1_1" /> 异常
				</label>
			  </form>    
			</td>
			<td height="10"><input name="put" type="text"   /></td>
			  
			<td height="10"><input name="fixed" type="text" size="10%" /></td>
		  </tr>
		  <tr>
			<td width="10%" height="10">3</td>
			<td width="30%" height="10">电气设备、灯光、喇叭、雨刮雨刷</td>
			<td width="20%" height="10">
			  <form id="form1" name="form1" method="post" action="">
				<label>
				  <input name="RadioGroup1" type="radio" id="RadioGroup1_0" checked="checked" />正常
				</label>
				<label>
				  <input type="radio" name="RadioGroup1" id="RadioGroup1_1" /> 异常
				</label>
			  </form>
			</td>
			<td height="10"><input name="put" type="text"   /></td>
			  
			<td height="10"><input name="fixed" type="text" size="10%" /></td>
		  </tr>
		  <tr>
			<td width="10%" height="10">4</td>
			<td width="30%" height="10">各仪表工作状态、工作指示、照明</td>
			<td width="20%" height="10">
			  <form id="form1" name="form1" method="post" action="">
				<label>
				  <input name="RadioGroup1" type="radio" id="RadioGroup1_0" checked="checked" />正常
				</label>
				<label>
				  <input type="radio" name="RadioGroup1" id="RadioGroup1_1" /> 异常
				</label>
			  </form>
			</td>
			<td height="10"><input name="put" type="text"   /></td>
			  
			<td height="10"><input name="fixed" type="text" size="10%" /></td>
		  </tr>
		  <tr>
			<td width="10%" height="10">5</td>
			<td width="30%" height="10">转向系统、制动器</td>
			<td width="20%" height="10">
			  <form id="form1" name="form1" method="post" action="">
				<label>
				  <input name="RadioGroup1" type="radio" id="RadioGroup1_0" checked="checked" />正常
				</label>
				<label>
				  <input type="radio" name="RadioGroup1" id="RadioGroup1_1" /> 异常
				</label>
			  </form>
			</td>
			<td height="10"><input name="put" type="text"   /></td>
			  
			<td height="10"><input name="fixed" type="text" size="10%" /></td>
		  </tr>
		  <tr>
			<td width="10%" height="10">6</td>
			<td width="30%" height="10">燃油存量</td>
			<td width="20%" height="10">
			  <form id="form1" name="form1" method="post" action="">
				<label>
				  <input name="RadioGroup1" type="radio" id="RadioGroup1_0" checked="checked" />正常
				</label>
				<label>
				  <input type="radio" name="RadioGroup1" id="RadioGroup1_1" /> 异常
				</label>
			  </form>
			</td>
			<td height="10"><input name="put" type="text"   /></td>
			  
			<td height="10"><input name="fixed" type="text" size="10%" /></td>
		  </tr>
		  <tr>
			<td width="10%" height="10">7</td>
			<td width="30%" height="10">油液、水、电和灭火器是否充足</td>
			<td width="20%" height="10">
			  <form id="form1" name="form1" method="post" action="">
				<label>
				  <input name="RadioGroup1" type="radio" id="RadioGroup1_0" checked="checked" />正常
				</label>
				<label>
				  <input type="radio" name="RadioGroup1" id="RadioGroup1_1" /> 异常
				</label>
			  </form>
			</td>
			<td height="10"><input name="put" type="text"   /></td>
			  
			<td height="10"><input name="fixed" type="text" size="10%" /></td>
		  </tr>
		  <tr>
			<td width="10%" height="10">8</td>
			<td width="30%" height="10">轮胎</td>
			<td width="20%" height="10">
			  <form id="form1" name="form1" method="post" action="">
				<label>
				  <input name="RadioGroup1" type="radio" id="RadioGroup1_0" checked="checked" />正常
				</label>
				<label>
				  <input type="radio" name="RadioGroup1" id="RadioGroup1_1" /> 异常
				</label>
			  </form>
			</td>
			<td height="10"><input name="put" type="text"   /></td>
			  
			<td height="10"><input name="fixed" type="text" size="10%" /></td>
		  </tr>
		  <tr>
			<td width="10%" height="10">9</td>
			<td width="30%" height="10">水泵系统</td>
			<td width="20%" height="10">
			  <form id="form1" name="form1" method="post" action="">
				<label>
				  <input name="RadioGroup1" type="radio" id="RadioGroup1_0" checked="checked" />正常
				</label>
				<label>
				  <input type="radio" name="RadioGroup1" id="RadioGroup1_1" /> 异常
				</label>
			  </form>
			</td>
			<td height="10"><input name="put" type="text"   /></td>
			  
			<td height="10"><input name="fixed" type="text" size="10%" /></td>
		  </tr>
		  <tr>
			<td width="10%" height="10">10</td>
			<td width="30%" height="10">车容</td>
			<td width="20%" height="10">
			  <form id="form1" name="form1" method="post" action="">
				<label>
				  <input name="RadioGroup1" type="radio" id="RadioGroup1_0" checked="checked" />正常
				</label>
				<label>
				  <input type="radio" name="RadioGroup1" id="RadioGroup1_1" /> 异常
				</label>
			  </form>
			</td>
			<td height="10"><input name="put" type="text"   /></td>
			  
			<td height="10"><input name="fixed" type="text" size="10%" /></td>
		  </tr>
		  <tr>
			<td width="10%" height="10">11</td>
			<td width="30%" height="10">器材门安全锁装置、室内消防物有无紧固</td>
			<td width="20%" height="10">
			  <form id="form1" name="form1" method="post" action="">
				<label>
				  <input name="RadioGroup1" type="radio" id="RadioGroup1_0" checked="checked" />正常
				</label>
				<label>
				  <input type="radio" name="RadioGroup1" id="RadioGroup1_1" /> 异常
				</label>
			  </form>
			</td>
			<td height="10"><input name="put" type="text"   /></td>
			  
			<td height="10"><input name="fixed" type="text" size="10%" /></td>
		  </tr>
		  <tr>
			<td width="10%" height="10">12</td>
			<td width="30%" height="10">车顶消防物有无松脱紧固</td>
			<td width="20%" height="10">
			  <form id="form1" name="form1" method="post" action="">
				<label>
				  <input name="RadioGroup1" type="radio" id="RadioGroup1_0" checked="checked" />正常
				</label>
				<label>
				  <input type="radio" name="RadioGroup1" id="RadioGroup1_1" /> 异常
				</label>
			  </form>
			</td>
			<td height="10"><input name="put" type="text"   /></td>
			  
			<td height="10"><input name="fixed" type="text" size="10%" /></td>
		  </tr>
		  <tr>
		  </tr>
		</table>
	</div>
	<div class="update"><a href="/"><img src="/static/images/uppdate.png" /></a></div>
    </div>
</div>
</body>
</html>
